body {
  font-family: Georgia, Times, 'Times New Roman', serif;
  margin: 0;
}
.main {
  font-size: 1.2rem;
  line-height: 1.618;
  max-width: 45rem;
  margin: 5rem auto 10rem;
  width: 90%;
}
h1 {
  margin: 10rem 0 1rem;
}
h2 {
  margin: 0;
}
h3 {
  margin: 5rem 0 4rem;
}
.listen {
  display: flex;
  align-items: center;
}
.listen p {
  margin-right: 1rem;
}
.chapter-select {
  display: block;
  font-size: 1.5rem;
}
.footer a {
  border-color: white;
  color: white;
}

.footer {
  align-items: center;
  background: #346EA5;
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed; left: 0; bottom: 0; right: 0;
}

.footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  order: 2;
}
.footer li {
  margin-right: 1rem;
}


@media (min-width: 900px) {
  audio {
    min-width: 20rem;
  }
  .footer {
    flex-direction: row;
    font-size: 1rem;
    justify-content: center;
    width: 100%;
  }
  .footer ul{
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
    margin: 0;
    order: 1;
    position: absolute; left: 0;
  }
  .chapter-select {
    margin-left: 1rem;
  }
}
